* {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 17px;
    width: 700px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
    font-family: sans-serif;
}


.table thead tr {
    background-color: #7F3AB1;
    color: #000000;
    text-align: left;
    font-weight: bold;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #7F3AB1;
}

.table .btn_a button{
    /* color: #4078e0; */
    background-color:#4078e0;
    padding: 10px 10px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    color: #f3f3f3;
}

.table .btn_i button{
    background-color:#e04040;
    padding: 10px 10px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    color: #f3f3f3;
}